<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="breathing">
      <ion-icon name="water-outline"></ion-icon>
      <ion-label>Breathe</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="frequency">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Frequencies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>